button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    margin: 0 auto;
    font-size: 2vh;
}

#zero{
    width: 110px;
    height: 50px;
    border-radius: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 20px;
}

.num {
    color:white;
    background-color: #2e2a2a;
}
.num:hover{
    background-color: #595252;
}


.grey{
    background-color: #a6a6a6;
}
.grey:hover{
    background-color: #c5c4c4;
}


.orange{
    color: white;
    background-color: #ff9500;
}
.orange:hover{
    background-color: #ffae3b;
}

#firstBlock{
    display: flex;
    width: 100%;
    height: 80vh;
    background-color: white;
}

#secondBlock{
    display: block;
    align-items: center;
    width: 25vh;
    height: 50vh;
    background-color: black;
    border-radius: 3vh;
    margin: 15vh auto;
}

#resultBlock{
    display: flex;
    justify-content: right;
    align-items: end;
    height: 30%;
}

#resultNumber{
    color: white;
    font-size: 4vh;
    margin-right: 2vh;
}

#buttonBlock{
    height: 70%;
    display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}