button{
   width: 60px;
   height: 60px;
   border-radius: 60px;
   border: none;
   font-size: 25px;
}

#zero{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 21px;
    width: 160px;
    height: 60px;
    border-radius: 60px;
    grid-column: span 2;

}

#firstBlock{
    width: 100%;
    height: 1000px;
    background-color: white;
}

#secondBlock{
    display: block;
    width: 400px;
    height: 800px;
    background-color: black;
    border-radius: 10px;
    margin: 30px auto;
}

#resultBlock{
    display: flex;
    height: 300px;
    align-items: flex-end;
    justify-content: flex-end;
}

#resultNumber{
    color: white;
    font-size: 70px;
    margin-right: 20px;
}

#buttonBlock{
    height: 500px;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(4, 1fr);
}

/* Цвет кнопок + hover */
.num {
    color:white;
    background-color: #2e2a2a;
}
.num:hover{
    background-color: #595252;
}


.grey{
    background-color: #a6a6a6;
}
.grey:hover{
    background-color: #c5c4c4;
}


.orange{
    color: white;
    background-color: #ff9500;
}
.orange:hover{
    background-color: #ffae3b;
}

  @media screen and (max-width: 420px) {
    #secondBlock{
        display: block;
        width: 150px;
        height: 300px;
        background-color: black;
        border-radius: 10px;
        margin: 30px auto;
    }
    button{
        width: 25px;
        height: 25px;
        border-radius: 25px;
        border: none;
        font-size: 10px;
     }
     #zero{
        width: 65px;
        height: 25px;
        grid-column: span 2;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        border-radius: 25px;
        padding-left: 10px;
    }
    #resultNumber{
        color: white;
        font-size: 25px;
        margin-right: 5px;
    }
    #buttonBlock{
        height: 210px;
        display: grid;
        justify-items: center;
        grid-template-columns: repeat(4, 1fr);
    }
    #resultBlock{
        display: flex;
        height: 100px;
        align-items: flex-end;
        justify-content: flex-end;
    }
  }

  
  @media screen and (min-width: 421px) and (max-width: 768px) {
    #secondBlock{
        display: block;
        width: 250px;
        height: 500px;
        background-color: black;
        border-radius: 10px;
        margin: 30px auto;
    }
    button{
        width: 50px;
        height: 50px;
        border-radius: 50px;
        border: none;
        font-size: 20px;
     }
     #zero{
        width: 110px;
        height: 50px;
        grid-column: span 2;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        border-radius: 50px;
        padding-left: 17px;
    }
    #resultNumber{
        color: white;
        font-size: 40px;
        margin-right: 10px;
    }
    #buttonBlock{
        height: 300px;
        display: grid;
        justify-items: center;
        grid-template-columns: repeat(4, 1fr);
    }
    #resultBlock{
        display: flex;
        height: 200px;
        align-items: flex-end;
        justify-content: flex-end;
    }
  }
  